<div class='container'>
  <div class='row main'>

    <div class='col-lg-12  col-md-12 exchange_box'>
      <div class='row'>
        <div class='col-md-8 offset-md-2 text-sm-center'>
          <%= image_tag '/logo.png', class: 'img-fluid'%>
        </div>
      </div>
    </div>

    <div class='col-lg-12  col-md-12 exchange_box'>
      <div class="row">
        <%= render 'exchange_box' %>
      </div>
    </div>

    <div class='col-lg-7  col-md-12 exchange_box'></div>


    <div class='col-lg-3 offset-lg-1 hidden-sm-down title-box'>
      <div class='row'>
        <h1 class='subtitle'>Converta qualquer moeda do mundo em segundos.</h1>
      </div>

      <div class='row'>
        <h2 class='subtitle'>Simples assim.</h2>
      </div>
    </div>

  </div>
  <div class="row">
    <footer class="footer">

      <span class="text-muted">© BitCoinToCoin 2018 | Um simples conversor de moedas |&nbsp;</span>
      <span class="text-muted">Desenvolvido por V&Iacute;tor Mar&ccedil;al |</span>
      <span>
          <a href="mailto:vitormarcal8@gmail.com" target="_blank">Mail-me</a>
        </span>
      <span class="text-muted">
          | Market data by&nbsp;
          <a href="https://www.cryptocompare.com" target="_blank">cryptocompare.com</a></span>
      </span>

    </footer>
  </div>

</div>