.exchange {
  padding-right: 15px;
  padding-left: 15px;

  form > div:nth-child(3n) {
    width: 8% !important;
    margin: 0 auto;
  }


  .you-get,
  .you-have {
    @extend .text-uppercase;
    background-color: #fff!important;
    border-right: none!important;
    color: #00cf70;
    font-weight: bold;
  }

  .source,
  .target {

    height: 50px!important;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input, span {
      background-color: white;
      box-shadow: none!important;
      border: 1px solid #ccc!important;
      border-left: none!important;
      text-align: right;
      font-weight: bold;
      height: 50px!important;
    }

    input {
      padding-left: 2.75em;
      font-size: 22px;
      line-height: 48px;
    }

    input:focus {
      z-index: 0;
    }

    select {
      border-left: none;
      background-color: #ececec;
      font-weight: bold;
      height: 50px!important;

      option {
        font-weight: bold;
      }
    }
  }

  i {
    font-size: 36px;
    color: #00cf70;
    padding-left: 16px;
    padding-right: 4px;
  }

  i:focus, i:hover {
    color: white;
  }
}