body {
  background: image-url("/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.exchange {

  .you-have {
    @extend .text-uppercase;
    background-color: #fff!important;
    border-right: none!important;
    color: #00cf70;
  }

  .you-get {
    @extend .you-have;
  }

  .source-currency {
    border-left: none!important;
  }

  .source-currency:focus {
    outline: none!important;
    box-shadow: none!important;
    border: 1px solid #ccc!important;
    border-left: none!important;
  }

  .target-currency {
    @extend .source-currency
  }
}
