body {
  background: image-url("/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Responsive Mode */
@media screen and (max-width: 768px) {
  body {
    background: url(/background-img.jpg) no-repeat center center fixed #000;
    background-size: contain;
  }
}
footer {
  color: white;
  position: absolute;
  bottom: 0;
}

.main {
  margin-top: 5.2rem;
}

.title-box {
  margin-top: 20%;
  margin-left: 15px;
}
a {
  color: #00cf70;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.9rem;
}
h1,h2 {
  color: #00cf70;
}

@media (min-width: 576px) {
  .form-inline, .input-group {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .form-inline, .input-group {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: auto !important;
  }
}

