body {
  background: image-url("/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media (min-width: 576px) {
  .form-inline, .input-group {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .form-inline, .input-group {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: auto !important;
  }
}


.exchange {

  .you-get,
  .you-have {
    @extend .text-uppercase;
    background-color: #fff!important;
    border-right: none!important;
    color: #00cf70;
    font-weight: bold;
  }

  .source,
  .target {

    input, span {
      background-color: white;
      box-shadow: none!important;
      border: 1px solid #ccc!important;
      border-left: none!important;
      text-align: right;
      font-weight: bold;
    }

    input:focus {
      z-index: 0;
    }

    select {
      border-left: none;
      background-color: #ececec;
      font-weight: bold;

      option {
        font-weight: bold;
      }
    }
  }

  .source {
    input {
      padding-left: 2.75em;
    }
  }

  i {
    font-size: 36px;
    color: #00cf70;
  }
}

